@model Chat

<div class="chat-body">

        @foreach (var m in Model.Messages)
        {
            <div class="message">
                <header>@m.Nick:</header>
                <p>@m.Content</p>
                <footer>@m.Timestamp</footer>
            </div>
        }

</div>

<div>
    <form class="chat-input" asp-controller="Home" asp-action="CreateMessage">
        <input type="hidden" name="chatId" value="@Model.Id"/>
        <input type="text" name="content"/>
        <button type="submit">Wyślij</button>
    </form>
</div> 

@section scripts{ 
    <script src="~/js/signalr.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/chatHub")
            .build();

        var _connectionId = '';

        connection.on("ReceiveMessage", function (data) {
            console.log(data);
        })


        var joinChat = function () {
            axios.post('/Chat/JoinChat/' + _connectionId + '/@Model.Name', null)
                .then(res => {
                    console.log("Room Joined!", res);
                })
                .catch(error => {
                    console.error("Failed Room Joined!", res);
                })
        }

        connection.start()
            .then(function () {
                connection.invoke('getConnectionId')
                    .then(function (connectionId) {
                        _connectionId = connectionId
                        joinChat();
                    })
            })
            .catch(function (error) {
                console.log(error)
            })

    </script>
}