
<div class="chat-body">
<div class="message">
    <header>Emil:</header>
    <p>Test Test Test Test message</p>
    <footer>10:00</footer>
</div>
    <div class="message">
        <header>Karol:</header>
        <p>Opdpowiedz jakas tam</p>
        <footer>10:02</footer>
    </div>
    <div class="message">
        <header>Emil:</header>
        <p>No swietnie swietnie</p>
        <footer>10:03</footer>
    </div>

</div>
<div class="chat-input">
    <input type="text" />
    <button>Wyślij</button>
</div>