<div>
    <form asp-controller="Account" asp-action="Register">
        <input type="text" name="username" placeholder="Login" />
        <input type="password" name="password" placeholder="Hasło" />
        <button type="submit">Rejstruj</button>
    </form>
</div>